:root {
    --text-color: #000000;
    --card-front-color: rgb(159, 237, 241) ;
    --card-back-color: #aaf1e2;
}

body{
    background: rgb(159, 138, 226) ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 4rem;
   gap: 3rem;
}

.cartao{
    margin: 1rem 1rem ;
    height:20rem;
    flex-grow:1;
    flex-basis: calc(33% - 6rem);
}

.cartao_conteudo{
    background:var(--card-front-color);
    text-align: center;
    /*background-color:palevioletred;*/
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao_conteudo h3{
    color: var(--text-color) ;
    border: 1px solid var(--text-color)
    text-align: left;
    padding: 0.5rem;
    position:absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao_conteudo p{
    margin-top: 1rem;
    padding:2rem;
    margin-top: 5rem;
}

.cartao_conteudo_pergunta p{
    color: var(--text-color)
    font-weight: 500;
}

.catao_conteudo_resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao:hover .cartao_conteudo{
    transform: rotateY(180deg);
}

.cartao_conteudo_resposta{
    transform: rotateY(180deg);
}


.cartao_conteudo_pergunta,
.cartao_conteudo_resposta{
    backface-visibility: hidden;
    position:absolute;
    height:100%;
    weight:100%;
}



footer{
    background-color:rgb(159, 237, 241);
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}